<h1> Welcome in GameController!</h1>
<p> Hope to enjoy our website </p>
<br>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<%= link_to 'Category', categories_path %>
<%= link_to 'Games', games_path %>
</br>